---
import AuthLayout from "@/layouts/AuthLayout.astro";

const email = Astro.cookies.get('email')?.value ?? '';
const rememberMe = !!email;

export const prerender = false;
---

<AuthLayout title="Sign In" desc="Please sign in to your account.">
  <form class="space-y-3">
    <div class="space-y-2">
      <label class="text-sm font-medium text-gray-700 tracking-wide">Email</label>
      <input
        name="email"
        class="w-full text-base px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-green-400"
        type="text"
        placeholder="mail@gmail.com"
        value={email}
      />
    </div>
    <div class="space-y-2">
      <label class="mb-5 text-sm font-medium text-gray-700 tracking-wide">
        Password
      </label>
      <input
        name="password"
        class="w-full content-center text-base px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-green-400"
        type="password"
        placeholder="Enter your password"
      />
    </div>
    <div class="flex items-center justify-between">
      <div class="flex items-center">
        <input
          id="remember_me"
          name="remember_me"
          type="checkbox"
          class="h-4 w-4 bg-blue-500 focus:ring-blue-400 border-gray-300 rounded"
          checked={rememberMe}
        />
        <label for="remember_me" class="ml-2 block text-sm text-gray-800">
          Remember me
        </label>
      </div>
      <div class="text-sm">
        <a href="/register" class="text-green-400 hover:text-green-500">
          Create an account
        </a>
      </div>
    </div>
    <div>
      <button
        id="btn-submit"
        type="submit"
        class="w-full flex justify-center bg-green-400 hover:bg-green-500 text-gray-100 p-3 rounded-full tracking-wide font-semibold shadow-lg cursor-pointer transition ease-in duration-500"
      >
        Sign in
      </button>
    </div>
    <div class="flex flex-1 w-full">
      <div class="w-full border-t-2 border-gray-200"></div>
    </div>
    <button
      id="btn-google"
      type="button"
      class="w-full flex justify-center bg-red-400 hover:bg-red-500 text-gray-100 p-3 rounded-full tracking-wide font-semibold shadow-lg cursor-pointer transition ease-in duration-500"
    >
      Sign in with Google
    </button>
  </form>
</AuthLayout>

<script>
  import { firebase } from "@/firebase/config";
  import { actions } from "astro:actions";
  import {GoogleAuthProvider, signInWithPopup} from "firebase/auth";
  import Swal from "sweetalert2";

  const form = document.querySelector("form") as HTMLFormElement;
  const btnSubmit = document.querySelector("#btn-submit") as HTMLButtonElement;
  const btnGoogle = document.querySelector("#btn-google") as HTMLButtonElement;

  form?.addEventListener("submit", async (e) => {
    e.preventDefault();
    btnSubmit.setAttribute("disabled", "disabled");

    const formData = new FormData(form);
    const { error } = await actions.login(formData);

    if (error) {
      Swal.fire({
        icon: 'error',
        title: 'Credenciales incorrectas',
        text: error.message
      });
      btnSubmit.removeAttribute('disabled');
      return;
    }

    window.location.replace('/protected');
  });

  btnGoogle?.addEventListener("click", async () => {
    btnGoogle.setAttribute("disabled", "disabled");
    const provider = new GoogleAuthProvider();

    try {
      const credentials = await signInWithPopup(firebase.auth, provider);
      const { error } = await actions.loginWithGoogle(credentials);

      if (error) {
        alert(error.message);
        btnGoogle.removeAttribute("disabled");
        return;
      }

      btnGoogle.innerText = 'Redireccionando';
      window.location.replace('/protected');
    } catch (e) {
      console.log(e);
      btnGoogle.removeAttribute("disabled");
    }

  });
</script>
